<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <title>Sofia Björkesjö</title>

</head>

<body>
<a href="/"><h1>SOFIA BJÖRKESJÖ</h1></a>
<div id="wrapper">
    <li><a href="/portfolio"> PORTFOLIO</a></li>
    <li><a href="/brollop"> BRÖLLOP</a></li>
    <li><a href="/kontakt"> KONTAKT</a></li>
    <li><a target="_blank" href="https://github.com/sofiabjorkesjo"> GITHUB</a></li>
    <li><a target="_blank" href="https://www.instagram.com/sofiabjorkesjo/"> INSTAGRAM</a></li>
    <li><a target="_blank" href="/cv"> CV</a></li>
    {{{body}}}

</div>
{{>footer}}

</body>
</html>