

<div id="ett">
    <div class="imgDiv">
        <a href="images/23.jpg" data-lightbox="image" title="Carola uppträder på Karlskrona Skärgårdsfest"> <img src="images/23.jpg" border="0" alt="" /></a>

    </div>
    <div class="imgDiv">
        <a href="images/15.jpg" data-lightbox="image"> <img src="images/15.jpg" border="0" alt="" /></a>

    </div>
    <div class="imgDiv">
        <a href="images/5.jpg" data-lightbox="image"> <img src="images/5.jpg" border="0" alt="" /></a>
    </div>
    <div class="imgDiv">
        <a href="images/7.jpg" data-lightbox="image"> <img src="images/7.jpg" border="0" alt="" /></a>
    </div>
    <div class="imgDiv">
        <a href="images/11.jpg" data-lightbox="image"> <img src="images/11.jpg" border="0" alt="" /></a>
    </div>
    <div class="imgDiv">
        <a href="images/45.jpg" data-lightbox="image"> <img src="images/45.jpg" border="0" alt="" /></a>
    </div>

</div>

<div id="tva">

    <div class="imgDiv2">

        <a href="images/17.jpg" data-lightbox="image"> <img src="images/17.jpg" border="0" alt="" /></a>


        <a href="images/3.jpg" data-lightbox="image" > <img src="images/3.jpg" border="0" alt="" /></a>
    </div>



    <div class="imgDiv2">

        <a href="images/31.jpg" data-lightbox="image" title="Love Antell uppträder på Karlskrona Skärgårdsfest."> <img src="images/31.jpg" border="0" alt="" /></a>


        <a href="images/13.jpg" data-lightbox="image"> <img src="images/13.jpg" border="0" alt="" /></a>

    </div>
    <div class="imgDiv">
        <a href="images/9.jpg" data-lightbox="image"> <img src="images/9.jpg" border="0" alt="" /></a>
    </div>
    <div class="imgDiv">
        <a href="images/27.jpg" data-lightbox="image" title="Dop i Påskallaviks kyrka."> <img src="images/27.jpg" border="0" alt="" /></a>
    </div>
    <div class="imgDiv">
        <a href="images/19.jpg" data-lightbox="image"> <img src="images/19.jpg" border="0" alt="" /></a>

    </div>

    <div class="imgDiv">
        <a href="images/25.jpg" data-lightbox="image"> <img src="images/25.jpg" border="0" alt="" /></a>
    </div>
    <div class="imgDiv">
        <a href="images/21.jpg" data-lightbox="image" title="Carola uppträder på Latitud 57 i Oskarshamn."> <img src="images/21.jpg" border="0" alt="" /></a>
    </div>
    <div class="imgDiv">
        <a href="images/33.jpg" data-lightbox="image" title="Magnus Uggla uppträder på Karlskrona Skärgårdsfest."> <img src="images/33.jpg" border="0" alt="" /></a>
    </div>

    <div class="imgDiv">
        <a href="images/37.jpg" data-lightbox="image" title="Balett på Kungliga Svenska Balettskolan."> <img src="images/37.jpg" border="0" alt="" /></a>
    </div>
</div>


<div id="tre">

    <div class="imgDiv">
        <a href="images/39.jpg" data-lightbox="image" title="Balett på Kungliga Svenska Balettskolan."> <img src="images/39.jpg" border="0" alt="" /></a>
    </div>
    <div class="imgDiv2">
        <a href="images/35.jpg" data-lightbox="image"title="Balett på Kungliga Svenska Balettskolan.">  <img src="images/35.jpg" border="0" alt="" /></a>
        <a href="images/1.jpg" data-lightbox="image"> <img src="images/1.jpg" border="0" alt="" /></a>
    </div>
    <div class="imgDiv2">
        <a href="images/41.jpg" data-lightbox="image"title="Veronica Maggio uppträder på Karlskrona Skärgårdsfest."> <img src="images/41.jpg" border="0" alt="" /></a>
        <a href="images/29.jpg" data-lightbox="image"> <img src="images/29.jpg" border="0" alt="" /></a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox-plus-jquery.js"></script>