
    <div id="kontakt_bild">
    <img src="/bilder/kontakt1.jpg">
    </div>
    <div id="kontakt">
<p>Kontakta mig på: <span class="bold">bjorkesjosofia@gmail.com</span></p>
<span class="link">
    <a target="_blank" href="https://github.com/sofiabjorkesjo" class="hoverLink">GITHUB</a>
    <a target="_blank" href="https://www.instagram.com/sofiabjorkesjo/" class="hoverLink">INSTAGRAM</a>
    <a target="_blank" href="/cv"class="hoverLink" id="cvLink">CV</a>
</span>
<script src="clickPdf.js"></script>
</div>