
    <div id="kontakt_bild">
    <img src="/bilder/kontakt1.jpg">
    </div>
    <div id="kontakt">
<p> Sofia, 23 år, Kalmar. Läser sista året till webbprogrammerare. Gillar att fotografera.</p>

</div>

