

<div class="links">
    <div class="imageLinks">
    <div class="image">
<a href="/fotografier" class="imageLink"> <img src="/bilder/11.jpg"></a>
        <p class="imageText">Fotografier</p>
    </div>
    <div class="image">
<a href="/programmering" class="imageLink"> <img src="/bilder/kod4.png"></a>

        <p class="imageText">Programmering</p>
    </div>
    </div>

    <div id="test"></div>
</div>

<script src="onHover.js"></script>