<div class="links">
    <div id="programmeringLink">
        <a href="http://natureflow.sofiabjorkesjo.se"><img src="/images/kod1.png"></a>
        <div id="projektText">
        <p>Projektet "Natureflow", där man kan ladda upp och dela sina naturbilder. Skrivet i JavaScript.
            <br><a target="_blank" href="https://github.com/sofiabjorkesjo/natureflow" class="githubLinks">→ Github</a>
        </p>
        </div>
    </div>
</div>